.qs-form-container {
  .qs-form-list-form_list {
    .ant-pro-form-list-item {
      border: 1px dashed #cccccc;
      margin-top: 10px;
      border-radius: 5px;
      padding: 10px;

      .ant-pro-form-list-container {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}